<?xml version="1.0"?>
<model>
  <name>3DR Iris with rplidar_depth</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_rplidar_depth.sdf</sdf>

  <author>
   <name>Lorenz Meier and Thomas Gubler</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    Iris drone with RPLIDAR and Depth Camera sensors.
  </description>
</model>
